<h2><%= @node.name %></h2>
<hr>
<p>
  <strong>Status:</strong>
  <%= Status.find(@node[:status_id]).name %>
</p>

<p>
  <strong>Role:</strong>
  <%= Role.find(@node[:role_id]).name %>
</p>

<p>
  <strong>Datacenter:</strong>
  <%= Datacenter.find(@node[:datacenter_id]).name %>
</p>

<p>
  <strong>Operating System:</strong>
  <%= OperatingSystem.find(@node[:operating_system_id]).name %>
</p>

<hr>
<p>
<b>Node Notes:</b>
<%= render @node.comments %>
</p>

<p>
<b>Add a node note:</b>
<%= render 'comments/form' %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
