<h2><%= @node.name %></h2>
<hr>
<p>
  <strong>Status:</strong>
  <%= link_to Status.find(@node[:status_id]).name, status_path(Status.find(@node[:status_id]).id) %>
</p>

<p>
  <strong>Roles:</strong>
  <%= safe_join(@node.roles.map { |l| link_to(Role.find(l.id).name, role_path(l.id)) }, ', '.html_safe) %>
</p>

<p>
  <strong>Datacenter:</strong>
  <%= link_to Datacenter.find(@node[:datacenter_id]).name, datacenter_path(Datacenter.find(@node[:datacenter_id]).id) %>
</p>

<p>
  <strong>Operating System:</strong>
  <%= link_to OperatingSystem.find(@node[:operating_system_id]).name, operating_system_path(OperatingSystem.find(@node[:operating_system_id]).id) %>
</p>

<p>
  <strong>Contract Dates:</strong>
  <% if @node.contract_start_date && node.contract_end_date %>
  <%= @node.contract_start_date %> through <%= @node.contract_end_date %>
  <% end %>
</p>


<hr>
<p>
<b>Node Notes:</b>
<%= render @node.comments %>
</p>

<p>
<b>Add a node note:</b>
<%= render 'comments/form' %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
