<h1>Statuses</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Actions</th>
    <th colspan="2"></th>
  </tr>

  <% @statuses.each do |status| %>
    <tr>
      <td><%= link_to status.name, status_path(status.name) %></td>
      <td>
        <%= link_to 'Show', status_path(status) %> |
        <%= link_to 'Edit', edit_status_path(status) %> |
        <%= link_to 'Destroy', status_path(status), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Status', new_status_path, class: "btn btn-primary" %>
