<p>
  <strong>Status Name: </strong><%= @status.name %><br>
</p>

<hr>

Nodes belonging to <%= @status.name %>:<br>

<p>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>

  <% Node.where(status_id: @status.id).ids.each do |node_id| %>
    <tr>
      <td><%= link_to Node.find(node_id).name, node_path(Node.find(node_id).id) %><br></td>
    </tr>
  <% end %>
</table>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back to Status List', statuses_path %>
