<h1>Listing operating_systems</h1>

<table>
  <tr>
    <th>Name</th>
    <th colspan="4"></th>
  </tr>

  <% @operating_systems.each do |operating_system| %>
    <tr>
      <td><%= operating_system.name %></td>
      <td><%= link_to 'Show', operating_system_path(operating_system) %></td>
      <td><%= link_to 'Edit', edit_operating_system_path(operating_system) %></td>
      <td><%= link_to 'Destroy', operating_system_path(operating_system), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New operating_system', new_operating_system_path %>
