<p>
  <strong>Name: </strong><%= @operating_system.name %><br>
</p>

<hr>

Nodes belonging to <%= @operating_system.name %>:<br>

<p>
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>

    <% Node.where(operating_system_id: @operating_system.id).ids.each do |node_id| %>
      <tr>
        <td><%= link_to Node.find(node_id).name, node_path(Node.find(node_id).name) %><br></td>
      </tr>
    <% end %>
  </table>
</p>

<hr>

<%= link_to 'Edit', edit_operating_system_path(@operating_system) %> |
<%= link_to 'Back to Operating System List', operating_systems_path %>
