<h1>HostDB</h1>
<%= link_to 'Nodes', controller: 'nodes' %></br>
<%= link_to 'Statuses', controller: 'statuses' %></br>
<%= link_to 'Roles', controller: 'roles' %></br>
<%= link_to 'Operating Systems', controller: 'operating_systems' %></br>
<%= link_to 'Datacenters', controller: 'datacenters' %></br>
<%= link_to 'Software Applications', controller: 'software_apps' %></br>
