<h1>Datacenters</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Vendor</th>
    <th>Provider</th>
    <th colspan="3"></th>
  </tr>

  <% @datacenters.each do |datacenter| %>
    <tr>
      <td><a href="datacenters/<%= datacenter.id %>"><%= datacenter.name %></a></td>
      <td><%= datacenter.vendor %></td>
      <td><%= datacenter.provider %></td>
      <td>
        <%= link_to 'Show', datacenter_path(datacenter) %> |
        <%= link_to 'Edit', edit_datacenter_path(datacenter) %> |
        <%= link_to 'Destroy', datacenter_path(datacenter), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Datacenter', new_datacenter_path, class: "btn btn-primary" %>
