<p>
  <strong>Name:</strong>
  <%= @datacenter.name %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @datacenter.vendor %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @datacenter.provider %>
</p>

<%= link_to 'Edit', edit_datacenter_path(@datacenter) %> |
<%= link_to 'Back', datacenters_path %>

