<h1>Interfaces</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>MAC Address</th>
    <th>Node Name</th>
    <th>IP Addresses</th>
    <th>Actions</th>
    <th colspan="4"></th>
  </tr>

  <% @interfaces.each do |interface| %>
    <tr>
      <td><%= link_to interface.name, interface_path(interface.id) %></td>
      <td><%= link_to interface.mac.address, mac_path(interface.mac.id) %></td>
      <td>FIXME</td>
      <td><%= safe_join(interface.mac.ip_addrs.map { |l| link_to(l.address, ip_addr_path(l.id)) }, ', '.html_safe) %></td>
      <td>
        <%= link_to 'Show', interface_path(interface) %> |
        <%= link_to 'Destroy', interface_path(interface), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
